node_modules/
node-v20*/
node-v22*/
.git/
.antigravity/
.agents/
.firebase/
scratch/
downloads/
downloads_temp/
screenshot.png
firebase-debug.log
ios/
android/
mobile/
build/
scripts/
src/
**/ver/**
**/ver
**/assets/**
**/assets
**/*.map
